<template>
  <div class="editor">
    <div class="step">
      <div v-if="$route.query.step === '1'" class="step-1">
        <div v-if="loadingSpinner">
          <LoadingSpinner />
        </div>
        <div v-else class="step-container">
          <div class="text">
            <h2 class="title-h2">Let someone flourish with a compliment!</h2>
            <p class="text-content">
              Keep the positivity going by sending a colleague a personal
              compliment card.
            </p>
            <button class="btn" @click="nextStep(2)">
              <p>Make a card</p>
              <img class="arrow" src="/images/arrow-right.png" alt="" />
            </button>
          </div>
          <img class="flowers" src="/images/main_kleiner_blauw.gif" alt="" />
        </div>
      </div>
      <div v-else-if="$route.query.step === '2'" class="step-2">
        <div v-if="loadingSpinner">
          <LoadingSpinner />
        </div>
        <div v-else class="step-container">
          <div class="text">
            <h3 class="title-h3">First choose a compliment card below</h3>
            <ul class="cards">
              <li
                v-for="card in cards"
                :key="card._id"
                class="cards-item"
                @click="addImageToEditor(card.image)"
                :class="{ selected: clicked == card.image }"
              >
                <div class="relative">
                  <div
                    class="image"
                    :style="{
                      backgroundImage: `url(/images/${card.image})`,
                    }"
                  ></div>
                </div>
              </li>
            </ul>
            <button class="btn" @click="nextStep(3)">
              <p>Done, let's write something nice</p>
              <img class="arrow" src="/images/arrow-right.png" alt="" />
            </button>
          </div>
        </div>
      </div>
      <div v-else-if="$route.query.step === '3'" class="step-3">
        <div v-if="loadingSpinner">
          <LoadingSpinner />
        </div>
        <div v-else>
          <div v-if="image === ''">
            <div class="text">
              <div class="contain">
                <h3 class="title-h3">Select your image...</h3>
                <button class="btn btn-left" @click="prevStep(2)">
                  <img class="arrow left" src="/images/arrow-left.png" alt="" />
                  <p>Go back</p>
                </button>
              </div>
            </div>
          </div>
          <div v-else class="step-container">
            <div class="editor">
              <h3 class="title-h3">
                Great! Now write something that will bring a smile
              </h3>
              <ImageEditor
                ref="editor"
                :include-ui="useDefaultUI"
                :options="options"
              >
              </ImageEditor>
              <ul class="editor-btns">
                <li>
                  <button class="btn btn-left" @click="prevStep(2)">
                    <img
                      class="arrow left"
                      src="/images/arrow-left.png"
                      alt=""
                    />
                    <p>Choose a different card</p>
                  </button>
                </li>
                <li>
                  <button class="btn" @click="toLastStep">
                    <p>Done, let’s make someones day</p>
                    <img class="arrow" src="/images/arrow-right.png" alt="" />
                  </button>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div v-else-if="$route.query.step === '4'" class="step-4">
        <div v-if="loadingSpinner">
          <LoadingSpinner />
        </div>
        <div v-else>
          <div v-if="image === ''">
            <div class="text">
              <div class="contain">
                <h3 class="title-h3">Select your image...</h3>
                <button class="btn btn-left" @click="prevStep(2)">
                  <img class="arrow left" src="/images/arrow-left.png" alt="" />
                  <p>Go back</p>
                </button>
              </div>
            </div>
          </div>
          <div v-else class="step-container">
            <div class="text">
              <h3 class="title-h3">Last but not least</h3>
              <p class="text-content">
                Send your compliment card to your colleague. Download it first
                and use it as an e-mail attachment.
              </p>
              <img class="text-image" :src="image" />
              <ul class="text-btns">
                <li>
                  <button class="btn btn-left" @click="prevStep(3)">
                    <img
                      class="arrow left"
                      src="/images/arrow-left.png"
                      alt=""
                    />
                    <p>Change message</p>
                  </button>
                </li>
                <li>
                  <button class="btn" @click="downloadImage">
                    <p>Download my card</p>
                    <img class="arrow" src="/images/arrow-right.png" alt="" />
                  </button>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div v-if="$route.query.step === '5'" class="step-1">
        <div v-if="loadingSpinner">
          <LoadingSpinner />
        </div>
        <div v-else class="step-container">
          <div class="text">
            <h3 class="title-h3">You’ve just made someone’s day!</h3>
            <p class="text-content">
              Thanks for taking the time to make a card. Feel free to send one
              to another colleague!
            </p>
            <button class="btn" @click="newCard">
              <p>Make another card</p>
              <img class="arrow" src="/images/arrow-right.png" alt="" />
            </button>
          </div>
          <img class="flowers" src="/images/main_kleiner_blauw.gif" alt="" />
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { saveAs } from 'file-saver'
import { gsap } from 'gsap'

export default {
  data() {
    return {
      step: 1,
      loadingSpinner: true,
      clicked: null,
      useDefaultUI: true,
      options: {
        cssMaxWidth: 500,
        cssMaxHeight: 300,
        includeUI: {
          loadImage: {
            path: '/images/kpmg_logo.png',
            name: 'SampleImage',
          },
          menu: ['text'],
          menuBarPosition: 'left',
        },
        selectionStyle: {
          fontSize: 100,
          fill: '#3294cb',
          fontFamily: 'KPMG App',
          cornerSize: 50,
          rotatingPointOffset: 20,
        },
      },
      image: '',
      cards: [
        {
          _id: 0,
          image: 'kaart_04.jpg',
        },
        {
          _id: 1,
          image: 'kaart_01.jpg',
        },
        {
          _id: 2,
          image: 'kaart_02.jpg',
        },
        {
          _id: 3,
          image: 'kaart_03.jpg',
        },
        {
          _id: 4,
          image: 'kaart_05.jpg',
        },
        {
          _id: 5,
          image: 'kaart_06.jpg',
        },
      ],
    }
  },
  mounted() {
    if (!this.$route.query.step) {
      this.showFirstStep()
    }
    setTimeout(() => {
      this.loadingSpinner = false
    }, 800)
    setTimeout(() => {
      gsap.to('.step-container', {
        opacity: 1,
        duration: 1.5,
      })
    }, 1800)
    if (this.$route.query.step === '3') {
      if (window.localStorage.getItem('backup')) {
        this.image = window.localStorage.getItem('backup')
        setTimeout(() => {
          this.$refs.editor.invoke(
            'loadImageFromURL',
            `/images/${this.image}`,
            'image'
          )
        }, 2000)
      }
    } else if (
      this.$route.query.step === '3' ||
      this.$route.query.step === '4'
    ) {
      if (window.localStorage.getItem('image')) {
        setTimeout(() => {
          this.image = window.localStorage.getItem('image')
          this.$refs.editor.invoke('loadImageFromURL', `${this.image}`, 'image')
        }, 500)
      }
    }
  },
  methods: {
    prevStep(prevStep) {
      this.$router.push({
        path: '/',
        query: {
          step: prevStep,
        },
      })
      if (this.image !== '') {
        this.image = window.localStorage.getItem('backup')
        setTimeout(() => {
          this.$refs.editor.invoke(
            'loadImageFromURL',
            `/images/${this.image}`,
            'image'
          )
        }, 2000)
      }
      this.nextStepFunction()
    },
    nextStep(nextStep) {
      this.$router.push({
        path: '/',
        query: {
          step: nextStep,
        },
      })
      const canvas = document.querySelector('canvas')
      if (this.image !== '') {
        setTimeout(() => {
          const data = canvas.toDataURL()
          window.localStorage.setItem('image', data)
          this.image = window.localStorage.getItem('image')
        }, 2000)
      }
      if (this.image !== '') {
        setTimeout(() => {
          this.$refs.editor.invoke(
            'loadImageFromURL',
            `/images/${this.image}`,
            'image'
          )
        }, 2000)
      }
      this.nextStepFunction()
    },
    toLastStep() {
      this.$refs.editor.invoke('discardSelection')
      this.$router.push({
        path: '/',
        query: {
          step: 4,
        },
      })
      const canvas = document.querySelector('canvas')
      const data = canvas.toDataURL()
      window.localStorage.setItem('image', data)
      this.image = window.localStorage.getItem('image')
      this.nextStepFunction()
    },
    showFirstStep() {
      this.$router.push({
        path: '/',
        query: {
          step: this.step,
        },
      })
    },
    addImageToEditor(image) {
      this.image = image
      window.localStorage.setItem('backup', image)
      this.clicked = image
    },
    downloadImage() {
      saveAs(this.image, 'kpmg_kaart.jpg')
      setTimeout(() => {
        this.$router.push({
          path: '/',
          query: {
            step: 5,
          },
        })
      }, 900)
      this.nextStepFunction()
    },
    newCard() {
      this.$router.push({
        path: '/',
        query: {
          step: 1,
        },
      })
      this.image = ''
      this.clicked = null
      window.localStorage.clear('image')
      window.localStorage.clear('backup')
      this.nextStepFunction()
    },
    nextStepFunction() {
      this.loadingSpinner = true
      setTimeout(() => {
        this.loadingSpinner = false
      }, 800)
      setTimeout(() => {
        gsap.to('.step-container', {
          opacity: 1,
          duration: 1.5,
        })
      }, 1000)
    },
  },
}
</script>

<style lang="scss">
$bp-1000: 1000px;

$blue: #00338d;
$blue_light: #3294cb;
$blue_dark: #002971;

$app-kpmg: 'KPMG App';
$arial: Arial, Helvetica, sans-serif;

.v-application p {
  margin: 0 !important;
}

.v-application ul,
.v-application ol {
  padding: 0 !important;
}

.title-h2 {
  font-family: $app-kpmg;
  font-weight: normal;
  font-size: 110px;
  letter-spacing: -1px;
  line-height: 0.9;
  color: white;
  margin: 0;
  transition: all 500ms ease;
  width: 95%;

  @media screen and (max-width: $bp-1000) {
    font-size: 70px;
  }
}

.title-h3 {
  font-family: $app-kpmg;
  font-weight: normal;
  font-size: 67px;
  letter-spacing: -1px;
  line-height: 0.9;
  color: white;
  margin: 0;

  @media screen and (max-width: $bp-1000) {
    font-size: 50px;
  }
}

.title-h4 {
  font-family: $arial;
  font-size: 20px;
  line-height: 1.6;
  color: white;
  letter-spacing: 1px;
}

.text-content {
  font-size: 20px !important;
  color: white !important;
  width: 90%;

  @media screen and (max-width: $bp-1000) {
    font-size: 16px i !important;
  }
}

.flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn {
  background: $blue_light;
  height: 70px;
  padding: 0 30px;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  box-shadow: 5px 5px 5px #02225a;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 30px;
  transition: all 500ms ease;

  &.btn-left {
    background-color: $blue_dark;
  }

  p {
    font-size: 18px !important;
    color: white !important;
    transition: all 500ms ease;

    @media screen and (max-width: $bp-1000) {
      font-size: 16px i !important;
    }
  }

  .arrow {
    width: 12px;
    height: auto;
    margin-left: 10px;

    &.left {
      margin-left: 0;
      margin-right: 10px;
    }
  }
}

.selected {
  border: 2px solid yellow !important;
  transition: all 500ms ease;
  border-radius: 10px;
}

.step-container {
  opacity: 0;
}

.editor {
  width: 100%;
  height: 600px;
  margin: 0 auto;
  position: relative;
  background: $blue;
  border-radius: 15px;
  overflow: hidden;
  transition: all 500ms ease;

  @media screen and (max-width: $bp-1000) {
    height: 800px;
  }
}

.contain {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  .btn {
    margin: 30px 0;
  }
}

.tui-image-editor-submenu-style {
  background-color: $blue_dark !important;
}

.tie-text-effect-button,
.tui-image-editor-partition,
.tie-text-align-button,
li.tui-image-editor-newline.tui-image-editor-range-wrap,
li.tie-btn-reset.tui-image-editor-item.help.enabled,
.tui-image-editor-container.left .tui-image-editor-icpartition,
.tui-image-editor-container.right .tui-image-editor-icpartition {
  display: none !important;
}

.tui-image-editor-container.left .tui-image-editor-submenu {
  width: 90px !important;
}

.tui-image-editor-container
  .color-picker-control
  .tui-colorpicker-palette-button {
  height: 13px;
  width: 13px;
}

.tui-image-editor-container .tui-image-editor-main {
  top: 0 !important;
}

.tui-image-editor-container {
  height: 55% !important;
  width: 65% !important;
  border-radius: 15px;
  bottom: 0;
  right: 0;
  margin: 30px 0;
  transition: all 500ms ease;

  @media screen and (max-width: $bp-1000) {
    width: 80% !important;
  }
}

.tui-image-editor-menu {
  li {
    &:nth-child(4),
    &:nth-child(1),
    &:nth-child(2) {
      display: none !important;
    }

    .tui-image-editor-icpartition {
      background-color: white !important;
    }
  }
}

.tui-image-editor-header,
.tie-btn-delete,
.tie-btn-deleteAll {
  display: none !important;
}

.tui-image-editor-main-container {
  background: $blue !important;
}

.tui-image-editor-controls {
  background: $blue_dark !important;
}

use.active.use-default {
  fill-rule: evenodd;
  fill: $blue !important;
  stroke: $blue !important;
}

svg use {
  fill-rule: evenodd;
  fill: white !important;
  stroke: white !important;
}

.step {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;

  &-container {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &-1 {
    .text {
      width: 80%;
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      margin: 0 auto;
      transition: all 500ms ease;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);

      @media screen and (max-width: $bp-1000) {
        max-width: 90%;
      }

      &-content {
        max-width: 500px !important;
        margin: 30px auto !important;
      }
    }

    .flowers {
      position: absolute;
      left: -50px;
      bottom: -100px;
      width: 330px;
      height: auto;
      transition: all 500ms ease;

      @media screen and (max-width: $bp-1000) {
        width: 250px;
      }
    }
  }

  &-2 {
    .text {
      width: 73%;
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      margin: 0 auto;
      transition: all 500ms ease;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);

      @media screen and (max-width: $bp-1000) {
        max-width: 90%;
      }

      .cards {
        margin: 50px 0 40px;
        display: flex;
        flex-wrap: wrap;
        list-style: none;
        max-width: 100%;

        &-item {
          margin: 5px;
          // flex: 1 0 30%;
          width: 30%;
          cursor: pointer;
          overflow: hidden;
          border-radius: 10px;

          .relative {
            border: 1px solid $blue_dark;
            height: 140px;
            position: relative;
            width: 200px;
            border-radius: 10px;
            overflow: hidden;
          }

          .image {
            width: 100%;
            height: 100%;
            background-size: cover !important;
            background-repeat: no-repeat !important;

            position: absolute;
          }
        }
      }
    }
  }

  &-3 {
    .editor {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      margin: 0 auto;

      h3 {
        font-size: 60px;

        @media screen and (max-width: $bp-1000) {
          font-size: 40px;
          text-align: center;
          max-width: 80%;
        }
      }

      &-btns {
        display: flex;
        list-style: none;

        @media screen and (max-width: $bp-1000) {
          flex-direction: column-reverse;
          justify-content: center;
          align-items: center;

          li {
            &:nth-child(2) {
              margin-bottom: 20px;
            }
          }
        }

        li {
          &:nth-child(1) {
            margin-right: 10px;
          }
          &:nth-child(2) {
            margin-left: 10px;
          }
        }
      }
    }
  }

  &-4 {
    .text {
      width: 80%;
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      margin: 0 auto;
      transition: all 500ms ease;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);

      @media screen and (max-width: $bp-1000) {
        max-width: 90%;
      }

      h3 {
        margin-bottom: 30px;
      }

      &-image {
        width: 250px;
        height: auto;
        margin: 30px 0;
      }

      &-btns {
        display: flex;
        list-style: none;

        @media screen and (max-width: $bp-1000) {
          flex-direction: column-reverse;
          justify-content: center;
          align-items: center;

          li {
            &:nth-child(2) {
              margin-bottom: 20px;
            }
          }
        }

        li {
          &:nth-child(1) {
            margin-right: 10px;
          }
          &:nth-child(2) {
            margin-left: 10px;
          }
        }
      }
    }
  }

  &-5 {
    .text {
      width: 60%;
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      margin: 0 auto;
      transition: all 500ms ease;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);

      .file {
        position: absolute;
        top: -500px;
      }

      form {
        width: 100%;
      }

      &-list {
        list-style: none;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 100%;

        li {
          width: 100%;

          &:nth-child(2) {
            margin: 1rem 0 2rem;
          }

          input {
            font-size: 18px;
            padding: 0.8rem 1rem;
            width: 100%;
            border: 1px solid white;
            color: white;
            border-radius: 5px;
            outline: none !important;

            &::placeholder {
              color: white;
            }
          }
        }
      }

      @media screen and (max-width: $bp-1000) {
        max-width: 90%;
      }

      h3 {
        margin-bottom: 30px;
      }

      &-image {
        width: 250px;
        height: auto;
        margin: 30px 0;
      }

      &-btns {
        display: flex;
        list-style: none;

        @media screen and (max-width: $bp-1000) {
          flex-direction: column-reverse;
          justify-content: center;
          align-items: center;

          li {
            &:nth-child(2) {
              margin-bottom: 20px;
            }
          }
        }

        li {
          &:nth-child(1) {
            margin-right: 10px;
          }
          &:nth-child(2) {
            margin-left: 10px;
          }
        }
      }
    }
  }
}
</style>
