<template>
  <div class="spinner">
    <img class="img" src="/images/kpmg_logo.png" />
  </div>
</template>

<style scoped lang="scss">
.img {
  animation: rotate 1s infinite alternate-reverse ease-in-out;
}

@keyframes rotate {
  0% {
    transform: perspective(0px);
  }
  50% {
    transform: perspective(0px) rotateY(180deg);
  }
  100% {
    transform: perspective(0px) rotateY(180deg) rotateX(180deg);
  }
}
</style>
