<template>
  <a target="_blank" href="https://www.axxerion.com/axxerion/portal/kpmgnl/">
    <button class="Nominate_Button">
      Nominate someone
      <v-icon right> mdi-chevron-right </v-icon>
    </button>
  </a>
</template>

<script>
export default {}
</script>
