@font-face {
  font-family: 'KPMG-Light';
  src: url('fonts/KPMGApp-Light.ttf');
}

@font-face {
  font-family: 'UniversforkKPMG';
  src: url('fonts/UniversforKPMG.ttf');
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  outline: none !important;
}

.gradient-bottom {
  position: absolute;
  bottom: 0;
  width: 100%;
  z-index: 1;
  height: 200px;
  object-fit: cover;
}

.gradient-top {
  position: absolute;
  z-index: 1;
  top: 0;
  width: 100%;
  height: 200px;
  background: -moz-linear-gradient(
                  top,
                  rgba(0, 121, 192, 0.65) 0%,
                  rgba(0, 121, 192, 0) 100%
  );
  background: -webkit-linear-gradient(
                  top,
                  rgba(0, 121, 192, 0.65) 0%,
                  rgba(0, 121, 192, 0) 100%
  );
  background: linear-gradient(
                  to bottom,
                  rgba(0, 121, 192, 0.65) 0%,
                  rgba(0, 121, 192, 0) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a60079c0', endColorstr='#00000000',GradientType=0 );
}

.v-application--wrap {
  overflow: hidden;
}

.theme--light.v-application {
  background: #0079c0 !important;
}

.container {
  z-index: 6;
  position: relative;
  padding: 12px 8px 12px 8px !important;
  margin: 0 auto;
}

.logo {
  margin-top: 20px;
  padding: 20px 0px 50px 0px;
  width: 100px;
  position: relative;
  z-index: 10;
}

.images {
  height: 400px;
  position: relative;
}

.image_container {
  position: relative;
  height: 100px;
}

.Envelope {
  width: 300px;
  margin: 0 auto;
  display: block;
  z-index: 1;
  position: absolute;
  margin-top: 70px;
  transform: rotate(5deg);
  right: 30px;
  left: 0;
}

.CloudBig {
  width: 250px;
  position: relative;
  float: right;
  z-index: 0;
  animation: cloudmove 15s linear infinite;
  opacity: 0.5;
}

@keyframes cloudmove {
  0% {
    right: 0px;
  }
  50% {
    right: 40px;
  }
  100% {
    right: 0px;
  }
}

.Cloud {
  position: absolute;
  left: 0;
  width: 125px;
  animation: cloudplanemove 15s linear infinite;
  opacity: 0.5;
}

.Flyer1 {
  position: absolute;
  top: 50px;
  width: 125px;
}

@keyframes cloudplanemove {
  0% {
    left: 0px;
  }
  50% {
    left: 50px;
  }
  100% {
    left: 0px;
  }
}

.Flyer2 {
  position: absolute;
  right: 0;
  width: 80px;
}

.Flyer3 {
  position: absolute;
  right: 25px;
  width: 50px;
  top: 60px;
  z-index: 3;
}

.Flyer6 {
  width: 70px;
  right: -60px;
  bottom: 0;
  position: absolute;
}

.content {
  position: relative;
  z-index: 2;
  width: 100%;
  height: 600px;
  background-color: #00338e;
  margin-top: 150px;
  border-radius: 8px;
  box-shadow: 2px 2px 1px 1px rgb(17 142 195), 0px 2px 6px 0px rgb(0 0 0 / 14%),
  0px 1px 5px 0px rgb(0 0 0 / 12%) !important;
}

.v-application .header-title {
  font-size: 5.5rem !important;
  line-height: 4rem;
  width: 100%;
  color: #fff;
  font-weight: 100;
  padding: 5px 0px 5px 0px;
  font-family: 'KPMG-Light';
  text-align: center;
}

p.text-content-sub_title {
  font-size: 20px;
  line-height: 1.8rem;
  width: 100%;
  color: #fff;
  padding: 20px 0px 5px 0px;
  margin-top: 10px;
  font-weight: 400;
  text-align: center;
}

p.nominee {
  font-size: 14px !important;
  padding-top: 5px !important;
}



.top-container {
  height: 625px;
}

.text_container {
  width: 100%;
}

.video-container {
  width: 100%;
  height: 200px;
  margin-top: 20px;
  background-color: #00338e;
  position: relative;
  border-radius: 15px;

  #video_names {
    border-radius: 15px;
    object-fit: fill;
    position: absolute;
  }
}

.button-hint-text {
  font-style: italic;
  color: #82b3d8;
  padding: 5px 0px 0px 0px;
  font-size: 0.8rem;
}

.card_container {
  position: relative;
  width: 100%;
  background-color: #00a3a0;
  padding-top: 100px;
}

.bottom_container {
  z-index: -1;
  height: 100px;
  position: relative;
  margin-top: 0px;
  margin-left: 0px;
  margin-bottom: 20px;
}

.cloud_bottom_left {
  width: 100px;
  top: 20px;
  position: absolute;
  animation: cloudBottomMoveLeft 15s linear infinite;
}

.flyer_bottom_left {
  width: 100px;
  top: 40px;
  left: 20px;
  position: absolute;
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1) rotate(20deg);
}

@keyframes cloudBottomMoveLeft {
  0% {
    left: -10px;
  }
  50% {
    left: 50px;
  }
  100% {
    left: -10px;
  }
}

.cloud_bottom_right {
  width: 70px;
  right: 0px;
  bottom: 0;
  position: absolute;
  opacity: 0.5;
  animation: cloudBottomMoveRight 15s linear infinite;
}

.flyer_bottom_right {
  width: 65px;
  bottom: -10px;
  right: 0px;
  position: absolute;
  transform: scaleX(-1) rotate(-45deg);
}

@keyframes cloudBottomMoveRight {
  0% {
    right: 0px;
  }
  50% {
    right: 30px;
  }
  100% {
    right: 0px;
  }
}

@keyframes textCloud {
  from {
    margin-top: 00px;
  }
  to {
    margin-top: 00px;
  }
}

.window {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  z-index: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.grid_container {
  visibility: hidden;
}

.text_cloud {
  background-image: url('/images/quote.png');
  background-position: center;
  width: 170px;
  height: auto;
  vertical-align: middle;
  opacity: 0.7;
  color: #fff;
  padding: 5px;
  text-align: center;
  animation: textCloud 10s linear infinite;

  p#text {
    padding-top: 20px;
    font-weight: 500;
    font-style: italic;
  }
}

@media only screen and (min-width: 400px) {
  .video-container {
    height: 240px;
    top: 0px;
  }

  p.nominee {
    font-size: 16px !important;
  }

  .CloudBig {
    top: -20px;
  }
}

@media only screen and (min-width: 500px) {
  .video-container {
    height: 270px;
    top: 0px;
  }
}

@media only screen and (min-width: 600px) {
  .container {
    max-width: 600px !important;
  }

  .video-container {
    width: 100%;
    height: 330px;
    margin-top: 20px;
    background-color: #00338e;
    position: relative;
    border-radius: 15px;
  }

  .CloudBig {
    width: 200px;
    position: absolute;
    float: right;
    z-index: 0;
    animation: cloudmove 15s linear infinite;
    opacity: 0.5;
    top: 310px;
  }
}

@media only screen and (min-width: 800px) {
  .container {
    max-width: 600px !important;
  }

  .video-container {
    height: 330px;
    margin-top: 20px;
    background-color: #00338e;
    position: relative;
    border-radius: 15px;
  }

  .Envelope {
    right: 0;
    left: 0;
    width: 350px;
  }

  .bottom_container {
    margin-left: -60px;
    margin-top: -50px;
  }

  .flyer_bottom_left {
    top: 55px;
    left: 30px;
  }

  .cloud_bottom_right {
    right: -60px;
    animation: cloudBottomMoveRight 15s linear infinite;
  }

  .flyer_bottom_right {
    right: -60px;
  }

  @keyframes cloudBottomMoveRight {
    0% {
      right: -60px;
    }
    50% {
      right: -30px;
    }
    100% {
      right: -60px;
    }
  }

  .bottom_container {
    height: 150px;
  }
}

@media only screen and (min-width: 1000px) {
  .container {
    width: 900px !important;
    max-width: 900px !important;
  }

  .v-application .header-title {
    width: 100%;
    line-height: 7rem;
    font-size: 8rem !important;
    text-align: center;
  }

  .v-application .sub-title {
    font-size: 1.2rem !important;
    line-height: 1.8rem;
    width: 100%;
    color: #fff;
    padding: 5px 0px 5px 0px;
    margin-top: 10px;
    font-weight: 300;
    text-align: center;
  }

  p.nominee {
    font-size: 18px !important;
  }


  .top-container {
    position: relative;
    width: 100%;
    height: 800px;
    z-index: 10;
    display: flex;
  }

  .text_container {
    width: 100%;
  }

  .video-container {
    width: 100%;
    height: 497px;
    margin-top: 20px;
    background-color: #00338e;
    position: absolute;
    top: 240px;
    border-radius: 15px;
    margin: 0 auto;
    right: 0;
    left: 0;

    #video_names {
      border-radius: 15px;
    }
  }

  .top_right_container {
    display: inline-block;
    width: 450px !important;
    z-index: 2;
  }

  .images {
    width: 500px;
    height: 420px;
  }

  .image_container {
    margin-top: -30px;
  }

  .Envelope {
    right: 0;
    left: 0;
    width: 400px;
    margin-top: 10px;
  }

  .CloudBig {
    animation: cloudmove 15s linear infinite;
    width: 330px;
    height: 120px;
    position: absolute;
    top: 160px;
    z-index: 0;
  }

  @keyframes cloudmove {
    0% {
      right: 0px;
    }
    50% {
      right: 100px;
    }
    100% {
      right: 0px;
    }
  }

  .image_container {
    z-index: 2;
  }

  .grid_container {
    visibility: visible;
    display: flex;
    grid-gap: 10px;
    padding: 10px;
    height: 100%;

    .quotes {
      list-style: none;
      justify-content: center;
      position: relative;
      bottom: 0;
      height: 100%;
      flex: 1;

      &-item {
        max-width: 30rem;
        position: absolute;
        width: 250px;
        height: 100px;
        padding-top: 35px;
        opacity: 1;
        left: 50%;
        transform: translateX(-50%);
        bottom: 0;

        p {
          font-size: 17px;
          font-style: italic;
          color: white;
          text-align: center;
        }

        .quotes {
          position: absolute;
          left: 50%;
          top: 50%;
          transform: translate(-50%, -50%);
          z-index: -1;
          height: 70px;
        }
      }
    }
  }

  .animation_1 {
    animation: quotes_container_1 40s linear infinite;
  }

  .animation_2 {
    animation: quotes_container_1 40s linear infinite;
  }

  .animation_3 {
    animation: quotes_container_1 40s linear infinite;
  }

  @keyframes quotes_container_1 {
    0% {
      bottom: 0;
      opacity: 0;
    }
    10% {
      opacity: 1;
    }
    85% {
      opacity: 0.5;
    }
    95% {
      opacity: 0.1;
    }
    100% {
      opacity: 0;
      bottom: 100%;
    }
  }
}
