<!-- eslint-disable prettier/prettier -->
<template>
  <div id="main">
    <div class="gradient-top"></div>
    <img class="gradient-bottom" src="/images/bottom.png" alt="" />
    <div class="container">
      <a href=""><img class="logo" src="/images/kpmg_logo.png" /></a>
      <div class="top-container">
        <div class="text_container">
          <h1 class="header-title">The nominees are in!</h1>
          <p class="text-content-sub_title">
            Thanks for all the hundreds of peer compliments! Are you one of the
            nominees?
          </p>

          <p class="text-content-sub_title nominee">
            You can still send out compliment cards. Scroll down to let someone
            flourish!
          </p>
        </div>
        <img class="CloudBig" src="/images/wolk_groot.png" />
        <!-- <div class="video-container">
          <video
            id="video_names"
            width="100%"
            height="100%"
            loop
            muted
            playsinline
          >
            <source
              src="/images/KPMG_Website_Fase_900x500-DEF-03.mp4"
              type="video/mp4"
            />
          </video>
        </div> -->
      </div>
    </div>
    <!-- <div class="card_container">
      <div class="container">
        <ImageEditorComponent />
        <div class="bottom_container">
          <img class="cloud_bottom_left" src="/images/wolkje.png" />
          <img class="flyer_bottom_left" src="/images/vliegtuigje.png" />
          <img class="cloud_bottom_right" src="/images/wolk_groot.png" />
          <img class="flyer_bottom_right" src="/images/vliegtuigje.png" />
        </div>
      </div>
    </div> -->

    <div class="window">
      <div class="grid_container">
        <ul class="quotes quotes_container_1"></ul>
        <ul class="quotes quotes_container_2"></ul>
        <ul class="quotes quotes_container_3"></ul>
      </div>
    </div>
  </div>
</template>

<script>
import { gsap } from 'gsap'
import quoteImage from '../static/images/quote.png'

export default {
  data() {
    return {
      showFunction: true,
      quotes_1: [
        'You bring your Excellence into everything you do',
        'We are the best team! I like working on projects Together with you',
        'Together we can do anything!',
      ],
      quotes_2: [
        'Thank you for your support. You are always here to listen and help when I need it',
        'The most creative ideas are always yours',
        'Wow, you’re my role model in how you communicate to others',
      ],
      quotes_3: [
        'You created such a cool new feature in our audit program',
        'You’re an inspiration in how you always look out for the best interest of others',
        'You ROCKED at that client!',
      ],
    }
  },
  mounted() {
    this.quotesAnimation()
    // this.playVid()
  },
  methods: {
    quotesAnimation() {
      const container1 = document.querySelector('.quotes_container_1')
      const container1Elements = []
      const container2 = document.querySelector('.quotes_container_2')
      const container2Elements = []
      const container3 = document.querySelector('.quotes_container_3')
      const container3Elements = []

      for (let index = 0; index < this.quotes_1.length; index++) {
        container1.innerHTML += `
                        <li class="quotes-item">
                          <p>${this.quotes_1[index]}</p>
                          <img class="quotes" src="${quoteImage}" />
                        </li>`
      }

      setTimeout(() => {
        container1Elements.push(container1.children)
        const tl1 = gsap.timeline({ repeat: -1, repeatDelay: 0.5 })
        container1Elements.forEach((element) => {
          tl1.to(element, {
            bottom: '110%',
            duration: 10,
            y: 10,
            repeat: 1,
            ease: 'power1.inOut',
            stagger: {
              amount: 25,
            },
          })
        })
      }, 500)

      for (let index = 0; index < this.quotes_2.length; index++) {
        container2.innerHTML += `
                        <li class="quotes-item">
                          <p>${this.quotes_2[index]}</p>
                          <img class="quotes" src="${quoteImage}" />
                        </li>`
      }

      setTimeout(() => {
        container2Elements.push(container2.children)
        const tl2 = gsap.timeline({ repeat: -1, repeatDelay: 0.5 })
        container2Elements.forEach((element) => {
          tl2.to(element, {
            bottom: '110%',
            duration: 10,
            y: 10,
            repeat: 1,
            ease: 'power1.inOut',
            stagger: {
              amount: 25,
            },
          })
        })
      }, 500)

      for (let index = 0; index < this.quotes_3.length; index++) {
        container3.innerHTML += `
                        <li class="quotes-item">
                          <p>${this.quotes_3[index]}</p>
                          <img class="quotes" src="${quoteImage}" />
                        </li>`
      }

      setTimeout(() => {
        container3Elements.push(container3.children)
        const tl3 = gsap.timeline({ repeat: -1, repeatDelay: 0.5 })
        container3Elements.forEach((element) => {
          tl3.to(element, {
            bottom: '110%',
            duration: 10,
            y: 10,
            repeat: 1,
            ease: 'power1.inOut',
            stagger: {
              amount: 25,
            },
          })
        })
      }, 500)
    },
    // playVid() {
    //   var vid = document.getElementById('video_names')
    //   vid.autoplay = true
    //   vid.load()
    // },
  },
}
</script>
